<ul>
<li><p>A proactive team member with over <b class="text-warning">6+ years</b> of experience in application software development.</p></li>
<li><p>Expertise in Object oriented programming languages like <b class="text-warning">6“Python”</b>.</p></li>
<li><p>Good understanding of <b class="text-warning">6“Machine Learning” </b>algorithms.</p></li>
<li><p>Proficient and expertise in developing application software such as
Web service design using<b class="text-warning">Django framework.</b></p></li>
<li><p>SMTP protocol based error notification handler using python.</p></li>
<li><p>Implementation of cryptography algorithms using python.</p></li>
<li><p>Implementation of <b class="text-warning">ML algorithm </b>“LSI model” using python.</p></li>
<li><p>Auto rotational logging system using python.</p></li>
<li><p>Database connection support using python pyodbc packages.</p></li>
<li><p>Automated file system recycling using python.</p></li>
<li><p>Auto code deployment on web servers using JAVA.</p></li>
<li><p>As an experienced team lead responsible for:
<b class="text-warning">Requirements gathering, design specifications</b> and documentation related to process flow.</p></li>
<li><p>SW enhancement, Solution design ,service delivery and client relationship management.</p></li>
<li><p>Analysis, design, development, unit testing, integration, review.</p></li></ul>
